.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.logo h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 0;
  white-space: nowrap;
}
