.logo {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('bg.jpg');
}
.logo header {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  height: 80px;
}
.logo header img {
  width: 40px;
  height: 35px;
  margin: 0 15px 0 30px;
}
.logo header h1 {
  color: #fff;
  margin-bottom: 0;
  font-size: 25px;
}
.logo .logo-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
}
.logo .logo-section input {
  width: 300px;
  margin: 0 auto;
}
.logo .logo-section p {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin: 35px 0 15px;
}
.logo .logo-section .login-form-button {
  width: 300px;
}
